
.idea/
.vs/

cmake-build-debug/
cmake-build-debug-visual-studio/
cmake-build-minsizerel/
cmake-build-minsizerel-visual-studio/
cmake-build-release/
cmake-build-release-visual-studio/
out/

*.tlog
*.log
*.recepie
*.exe
*.recipe
*.vcxproj
*.filters
*.user
*.cmake
*.obj
*.depend
*.stamp
*.pdb
*.ilk
*.msc
*.def
*.rc
*.gcc
*.bor
*.os2
*.riscos
*.bin
*.rule